<h1>Welcome to QuotingDojo</h1>
<form class="form-group" action="/addquote" method="post">
    <p>Your name: <input class="form-control" type="text" name="name"></p>
    <p>Your quote: <textarea class="form-control" type="text" name="quote"></textarea></p>
    <button class="btn-success" type="submit">Add my quote!</button>
</form>
<form class="position-relative" action="/quotes">
    <button class="btn-success position-absolute" type="submit">Skip to quotes!</button>
</form>